<!-- ###### FORM FOR UPDATE DATA #####-->
{% if data %}
<h1>UPDATE PROJECT</h1>
<form action="{{url_for('update', project_id = data.id)}}" method="post">
    <div class="row">
        <div class="form-group col-md-9">
            <input type="text" class="form-control" placeholder="Enter project" name="title" value="{{data.title}}">
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </div>    
</form>
{% elif project %}
<h5>Create task for project:</h5>
<h1>{{project.title}}</h1>
<form action="{{url_for('createtask', id_project = project.id)}}" method="post">
    <div class="row">
        <div class="form-group col-md-9">
            <input type="text" class="form-control" placeholder="Enter task" name="description">
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </div>    
</form>


{% elif task %}
<h5>edit task:</h5>
<form action="{{url_for('updatetask', task_id = task.id)}}" method="post">
    <div class="row">
            <input type="hidden" class="form-control" name="project_id" value="{{task.project_id}}">
        <div class="form-group col-md-9">
            <input type="text" class="form-control" placeholder="Enter task" name="description" value="{{task.description}}">
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary btn-block">Edit</button>
        </div>
    </div>    
</form>

{% else%}
<h1>CREATE PROJECT</h1>
<form action="{{url_for('createproject')}}" method="post">
    <div class="row">
        <div class="form-group col-md-9">
            <input type="text" class="form-control" placeholder="Enter Title" name="title">
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </div>    
</form>

{% endif %}